<!DOCTYPE html>
<html>

<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="paper">
	<div id="app">
		<h2>สูตรคูณแม่ <input type="number" v-model="n"></h2>
		
		<h5 v-for="i in 20"><div class="space">{{n}} x {{i}} = {{x(i)}}</div></h4>
		
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				n: '',
			},

			methods: {
				x: function(row){
					return this.n*row
				}
			}
		})
	</script>
</body>

</html>
